.first-section {
    display: flex;
    justify-content: space-between;
    padding: 120px;
    padding-bottom: 30px;
    background: rgb(15,184,239);
    background: linear-gradient(0deg, rgba(15,184,239,1) 0%, rgba(211,68,203,1) 95%);
    color: white;
    letter-spacing: 1px;
}
.first-section__text-div {
    margin: 60px 0 0 100px;
}
.first-section__first-header {
    padding-bottom: 5px;
    font-size: 40px;
}
.first-section__second-header {
    font-size: 40px;
}

.first-section__header-description {
    padding-top: 50px;
    font-size: 32px;
    line-height: 1.5;

    .first-section__musicians-span {
        text-decoration: underline;
    }
    .first-section__fans-span {
        font-weight: 700;
    }

}
.first-section__header-svg {
    margin: 0 50px;
}